<!DOCTYPE html>
<html>
<head>
  <title>Raddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header class="navbar navbar-default" role="navigation">
	  <div class="navbar-inner">
	    <div class="container">
	      <div id="logo" class="navbar-brand"><%= link_to 'Raddit', root_path %></div>
	     	<div class="collapse navbar-collapse navbar-exl-collape">
	        <nav class="nav navbar-nav navbar-right">
	         	<% if user_signed_in? %>
	         		<ul class="nav navbar-nav navbar-right">
		            <li><%= link_to 'Submit Link', new_link_path %></li>
								<li><%= link_to 'Account', edit_user_registration_path %></li>
								<li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
							</ul>
						<% else %>
							<ul>
								<li><%= link_to 'New User', new_user_registration_path %></li>
								<li><%= link_to 'Sign In', new_user_session_path %></li>
							</ul>		
	           <% end -%>
	        </nav><!-- / navbar-right"> -->
	      </div><!-- /.navbar-collapse -->
	    </div><!-- /.container -->
	  </div>
	</header>

	<div id="main_content" class="container">
		<% flash.each do |name, msg| %>
			<%= content_tag(:div, msg, class: 'alert alert-#(name)') %>
		<% end %>

		<div id="content" class="col-md-9 center-block">
			<%= yield %>
		</div>	
	</div>

</body>
</html>
